body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(0deg, #E6FFD2 0%, #E6FFD2 100%);
    width: 1920px;
    height: 1001px;
    padding: 0;
    overflow-x: hidden;
}


.content {
    position: absolute;
    width: 1615px;
    height: 953px;
    top: 24px;
    left: 281px;
    opacity: 1;
    background-color: #E6FFD2;
    box-sizing: border-box;
}

.white-background {
    width: 1615px;
    height: 953px;
    background-color: white;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.23);
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner img {
    width: 1615px;
    height: 953px;
    top: 24px;
    /* left: 281px; */
    object-fit: cover;
    opacity: 1;
    box-sizing: border-box;
}

/* sidebar */


.menu {
    width: 64px;
    height: 64px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 97px;
    right: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.image-container, .image-container-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#default-svg, #alternate-svg {
    width: 50%;
    height: 50%;
}



/* header*/
.header-container {
    display: flex;
    flex-direction: column;
    /* Xếp các thẻ theo chiều dọc */
    align-items: center;
    /* Căn giữa các thẻ con theo chiều ngang */
    width: 100%;
    max-width: 800px;
    /* Đặt chiều rộng tối đa để giới hạn chiều rộng của container */
    padding: 0 65px;
    /* Đảm bảo các thẻ con có khoảng cách bên trong container */
    box-sizing: border-box;
    /* Đảm bảo padding và border không ảnh hưởng đến chiều rộng */
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #259E58;
    padding: 24px;
    width: 257px;
    height: 1001px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}




.menu-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 133px;
}

.menu-item {
    position: relative;
    width: 177px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    /* Hiệu ứng transition */
}

.menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-title {
    color: white;
    font-size: 32px;
    font-family: Bangers;
    font-weight: 400;
    white-space: nowrap;
}

/* Specific styling for the third menu item (Giới thiệu) */
.menu-item:nth-child(3) .menu-content {
    justify-content: space-between;
}

.menu-item:nth-child(3) .arrow-icon {
    margin-left: 27px;
}

.menu-item:nth-child(4) .menu-content {
    justify-content: space-between;
}

.menu-item:nth-child(4) .arrow-icon {
    margin-left: 69px;
}

.arrow-icon {
    width: 32px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 0.3s ease;
    /* Hiệu ứng chuyển đổi màu */
    position: relative;
}

.submenu-container {
    position: absolute;
    top: -10px;
    /* Điều chỉnh top theo nhu cầu của bạn */
    left: 200px;
    /* Điều chỉnh left theo nhu cầu của bạn */
    width: 232px;
    /* Điều chỉnh width cho phù hợp với nội dung */
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 57.37, 31.01, 0.15);
    z-index: 1000;
    display: none;
    overflow: hidden;
    /* Ngăn chặn các phần tử con tràn ra ngoài */
    opacity: 0;
    /* Ẩn submenu mặc định */
    transition: opacity 0.3s ease-in-out;
    /* Hiệu ứng transition */
}

.submenu {
    padding: 12px;
    flex-direction: column;
    gap: 8px;
    display: flex;
}

.submenu-item {
    height: 44px;
    padding: 0 14px;
    align-items: center;
    display: flex;
}

.submenu-title {
    color: #666666;
    font-size: 18px;
    font-family: Nunito;
    font-weight: 500;
    line-height: 27px;
    word-wrap: break-word;
}

.submenu-divider {
    width: 208px;
    /* Điều chỉnh chiều cao cho phù hợp */
    border: 1px #E0E0E0 solid;
}

.menu-item .submenu-container {
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.menu-item:hover .submenu-container,
.menu-item .arrow-icon:hover+.submenu-container,
.menu-item .submenu-container:hover {
    display: block;
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.menu-item .menu-title,
.menu-item .arrow-icon {
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease, border-color 0.3s ease;
    color: white;
    text-decoration: none;
}

/* Change color on hover */
.menu-item .menu-content .menu-title,
.menu-item .menu-content .arrow-icon {
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

/* Change color on hover */
.menu-item:hover .menu-content .menu-title,
.menu-item:hover .menu-content .arrow-icon {
    color: #005F33;
}

/* Thay đổi màu khi ở trạng thái active */
.menu-item.active .menu-content .menu-title,
.menu-item.active .menu-content .arrow-icon,
.menu-item .menu-content .menu-title.active,
.menu-item .menu-content .arrow-icon.active {
    color: #005F33;
}


/* Thay đổi màu stroke */
.arrow-icon.active #Icon {
    stroke: #005F33;

}

.menu-item.active .menu-title::after,
.menu-item .menu-title.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background-color: #005F33;
    width: 100%;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.menu-item .menu-title::after,
.menu-item .arrow-icon::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background-color: transparent;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.menu-item:hover .menu-title::after,
.menu-item .arrow-icon:hover::after {
    transform: scaleX(1);
}

.menu-item .submenu-title:hover {
    color: #005F33;
}

.menu-item:not(.active):hover .menu-title:not(.active),
.menu-item:not(.active):hover .arrow-icon:not(.active) svg #Icon {
    stroke: #C8FF9C;
    color: #C8FF9C;
    transition: color 0.3s ease;
}




/* Frame */
.svg-container {
    position: absolute;
    /* Đặt vị trí của phần tử là tuyệt đối */
    top: 60px;
    /* Cách lề trên là 60px */
    left: 724px;
    /* Cách lề trái là 724px */
    right: 724px;
    /* Cách lề phải là 724px */
    width: auto;
    /* Chiều rộng tự động */
    height: auto;
    /* Chiều cao tự động */
    z-index: 1;
    /* Độ sâu đặt của phần tử so với phần tử khác */
}

.svg-container img {
    width: 100%;
    /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    height: 100%;
    /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    display: block;
    /* Đảm bảo hình ảnh hiển thị đúng dạng block */
}

.svg-container-2 {
    position: absolute;
    /* Đặt vị trí của phần tử là tuyệt đối */
    top: 117px;
    /* Cách lề trên là 60px */
    left: 761px;
    /* Cách lề trái là 724px */
    right: 776px;
    /* Cách lề phải là 724px */
    width: auto;
    /* Chiều rộng tự động */
    height: auto;
    /* Chiều cao tự động */
    z-index: 1;
    /* Độ sâu đặt của phần tử so với phần tử khác */
}

.svg-container-2 img {
    width: 100%;
    /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    height: 100%;
    /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    display: block;
    /* Đảm bảo hình ảnh hiển thị đúng dạng block */
}

.svg-container-3 {
    position: absolute;
    top: 781px;
    left: 43px;
    right: 32px;
    width: auto;
    /* Chiều rộng tự động */
    height: auto;
    /* Chiều cao tự động */
    z-index: 2;
    /* Độ sâu đặt của phần tử so với phần tử khác */
}

.svg-container-3 img {
    width: 100%;
    /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    height: 100%;
    /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    display: block;
    /* Đảm bảo hình ảnh hiển thị đúng dạng block */
}


.svg-container-4 {
    position: absolute;
    top: 841px;
    left: 84px;
    right: 88px;
    width: auto;
    height: auto;
    z-index: 2;
    /* Đặt z-index cao hơn .line để hiển thị phía trên */
}

.svg-container-4 img {
    width: 100%;
    /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    height: 100%;
    /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    display: block;
    /* Đảm bảo hình ảnh hiển thị đúng dạng block */
}

.line {
    position: absolute;
    top: 930px;
    /* Điều chỉnh top của .line để cách .svg-container-4 24px */
    left: 54px;
    right: 53px;
    width: 150px;
    height: 1px;
    background-color: white;
    z-index: 1;
    /* Đặt z-index thấp hơn để .line hiển thị phía dưới */
}

/*Khám Phá Ngay*/
.custom-div {
    width: 257px;
    height: 64px;
    position: absolute;
    top: 789px;
    /* Điều chỉnh vị trí từ trên xuống */
    left: 50%;
    /* Đưa vào giữa theo chiều ngang */
    transform: translateX(-50%);
    background: #259E58;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /* Độ cong 4 góc */
}

.inner-content {
    color: white;
    font-size: 23px;
    font-family: Nunito;
    font-weight: 800;
    word-wrap: break-word;
    padding: 10px 16px;
    /* Padding 10px trên dưới và 16px trái phải */
}

/* Nút chevron phải*/
.outer-container {
    position: absolute;
    top: 465px;
    /* Cách trên là 489px */
    right: 1511px;
    left: 40px;
    /* Cách trái là 547px */
    width: 64px;
    /* Độ rộng là 64px */
    height: 64px;
    /* Độ cao là 64px */
}

.icon-container {
    width: 16px;
    /* Độ rộng của biểu tượng */
    height: 16px;
    /* Độ cao của biểu tượng */
    background: white;
    /* Màu nền của biểu tượng */
    border-radius: 9999px;
    /* Để tạo hình tròn */
    margin-right: 5px;
    /* Khoảng cách giữa các biểu tượng */
    cursor: pointer;
    /* Con trỏ chuột thành pointer khi di chuột vào */
}


.icon {
    width: 100%;
    height: 100%;
    max-width: 64px;
    max-height: 64px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(1);
}

.triangle {
    /* Kích thước ban đầu của hình tròn */
    width: 64px;
    height: 64px;
    /* Tạo hình tròn */
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.triangle:hover {
    /* Dịch chuyển hình tròn sang trái khi hover */
    transform: translateX(-15px);
    /* Đổi màu nền của hình tròn thành màu trắng khi hover */
    background-color: #FFFFFF;
    /* Kích thước của hình tròn khi hover */
    width: 64px;
    height: 64px;
    /* Tạo hình tròn khi hover */
    border-radius: 50%;
}


/* Nút chevron trái*/
.outer-container-2 {
    position: absolute;
    top: 465px;
    /* Cách trên là 489px */
    right: 40px;
    left: 1511px;
    /* Cách trái là 547px */
    width: 64px;
    /* Độ rộng là 64px */
    height: 64px;
    /* Độ cao là 64px */
}

.inner-container-2 {
    width: 100%;
    /* Chiều rộng của phần tử con là 100% */
    height: 100%;
    /* Chiều cao của phần tử con là 100% */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-2 {
    width: 100%;
    /* Chiều rộng của hình ảnh là 100% của phần tử cha */
    height: 100%;
    /* Chiều cao của hình ảnh là 100% của phần tử cha */
    max-width: 64px;
    /* Giới hạn chiều rộng tối đa của hình ảnh là 64px */
    max-height: 64px;
    /* Giới hạn chiều cao tối đa của hình ảnh là 64px */
}

.triangle-2 {
    /* Kích thước ban đầu của hình tròn */
    width: 64px;
    height: 64px;
    /* Tạo hình tròn */
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.triangle-2:hover {
    /* Dịch chuyển hình tròn sang trái khi hover */
    transform: translateX(15px);
    /* Đổi màu nền của hình tròn thành màu trắng khi hover */
    background-color: #FFFFFF;
    /* Kích thước của hình tròn khi hover */
    width: 64px;
    height: 64px;
    /* Tạo hình tròn khi hover */
    border-radius: 50%;
}

/*icon mạng xã hội*/
.social-icons {
    position: absolute;
    top: 950px;
    left: 71px;
    right: 72px;
    display: flex;
    gap: 16px;
    z-index: 2;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #259E58;
    border-radius: 50%;
    width: 46px;
    height: 40px;
    text-decoration: none;
}

/*chấm banner*/
.icons-wrapper {
    position: absolute;
    top: 901px;
    left: 71px;
    right: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* Khoảng cách giữa các hình tròn */
}

.icon-container {
    width: 16px;
    /* Độ rộng của biểu tượng */
    height: 16px;
    border-radius: 50%;
    /* Để tạo hình tròn */
    margin-right: 5px;
    /* Khoảng cách giữa các biểu tượng */
    cursor: pointer;
    /* Con trỏ chuột thành pointer khi di chuột vào */
    border: 2px solid white;
    /* Viền màu trắng */
}

.icon-container.active {
    background: #259E58;
    /* Màu nền của biểu tượng khi active */
    border-color: white;
    /* Màu viền của biểu tượng khi active */
}

/* effect*/
.contact-section {
    position: fixed;
    top: 750px;
    left: 1800px;
    display: flex;
    flex-direction: column;
    /* Hiển thị các phần tử con theo chiều dọc */
    justify-content: space-between;
    /* Các phần tử con cách nhau đều */
    align-items: center;
    /* Căn giữa theo chiều ngang */
}

.circle {
    width: 64px;
    /* Đường kính của hình tròn */
    height: 64px;
    /* Đường kính của hình tròn */
    background-color: #FFFFFF;
    /* Màu nền là màu trắng */
    border-radius: 50%;
    /* Để biến phần tử thành hình tròn */
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    position: relative;
    margin-bottom: 24px;
    /* Khoảng cách 24px giữa các hình tròn */

    /* Đổ bóng xung quanh với hiệu ứng mờ mờ nhẹ */
    box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.5);
    /* Màu xám xám, độ rộng 2px, mờ mờ nhẹ */
}


.circle img {
    width: 32px;
    height: 32px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

@keyframes sway {
    0%, 100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

.sway-animation {
    animation: sway 1.5s ease-in-out;
}

/*chuyển ảnh*/
.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ẩn các phần tử bên ngoài khu vực slider */
}

.image-slider img {
    display: none;
    /* Ẩn tất cả các ảnh mặc định */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Đảm bảo kích thước phù hợp với khu vực hiển thị */
}

.image-slider img:first-child {
    display: block;
    /* Hiển thị ảnh đầu tiên khi bắt đầu */
}

.svg-container,
.svg-container-2 {
    cursor: pointer;
    /* Con trỏ chuột thay đổi khi di chuột vào */
}

/*contact*/
.content-container {
    width: 100%;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: -810px;
    flex-wrap: nowrap;
    /* Đảm bảo các item không bị xuống hàng */
    margin-left: 50px;
}

.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 54px;
    white-space: nowrap;
}

.text {
    color: #259E58;
    font-size: 32px;
    font-family: Nunito;
    font-weight: 800;
    line-height: 48px;
    word-wrap: break-word;

}

.additional-info {
    position: absolute;
    top: 100%;
    /* Hiển thị additional-info dưới text */
    left: 0;
    display: none;
    /* Mặc định ẩn additional-info */
}

.item.selected .additional-info {
    display: flex;
    /* Hiển thị additional-info khi item được chọn */
    flex-wrap: wrap;
    gap: 10px;
}


.info-item {
    color: #259E58;
    /* Màu chữ */
    font-size: 32px;
    /* Kích thước font */
    font-family: Nunito;
    /* Font chữ */
    font-weight: 800;
    /* Độ đậm của font */
    line-height: 48px;
    /* Chiều cao dòng */
    word-wrap: break-word;
    /* Ngắt dòng khi cần */
    white-space: nowrap;
    /* Ngăn không cho dòng ngắt trên một dòng */
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 100px;
    /* Khoảng cách giữa các info-item */

}



.item:last-child {
    margin-right: 0;
    /* Loại bỏ margin-right cho item cuối cùng */
}

.item .text {
    transition: color 0.3s ease;
}

.text {
    color: #67776F;
    font-size: 55px;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 12px;
    /* Khoảng cách dưới chân văn bản */
    display: inline-block;
    /* Để có thể áp dụng đường dưới */
}

.item::after {
    content: '';
    height: 3px;
    background-color: #EECDE0;
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 70px;
}


.scroll-line {
    height: 3px;
    background-color: #EC008C;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.item .text {
    transition: color 0.3s ease;
}

.item.selected .text {
    color: #EC008C;
    /* Màu chữ khi được chọn */
}

/**/

.info-link {
    margin-right: 24px;
}

.info-item a {
    color: inherit;
    /* Kế thừa màu chữ từ thẻ cha */
    text-decoration: none;
    /* Loại bỏ đường gạch chân của các liên kết */
}

.info-item ul {
    list-style-type: none;
    /* Loại bỏ dấu chấm của danh sách */
    padding: 0;
    /* Loại bỏ padding mặc định của danh sách */
    margin: 0;
    /* Loại bỏ margin mặc định của danh sách */
}

.info-item li {
    margin-bottom: 8px;
}


.icon-container-2 {
    display: flex;
    align-items: center;
}

.icon-2 {
    width: 32px;
    /* Giảm chiều rộng xuống */
    height: 32px;
    /* Giảm chiều cao xuống */
    border-radius: 50%;
    border: 1px #EC008C solid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Điều chỉnh khoảng cách top */
    display: inline-flex;
}



.number {
    color: #EC008C;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word
}

.title {
    margin-top: 24px;
    margin-left: 16px;
}

.title-text {
    color: #4D4D4D;
    font-size: 18px;
    font-family: Nunito;
    font-weight: 500;
    line-height: 27px;
    word-wrap: break-word;
}

.info-list {
    list-style-type: none;
    /* Loại bỏ dấu chấm */
    padding: 0;
    margin: 0;
    display: contents;
    /* Cho phép các mục con sử dụng grid của cha */
}

.info-list li {
    margin-bottom: 24px;
    /* Khoảng cách giữa các mục */
}

/*event*/
.white-background-2 {
    width: 1615px;
    height: 2888px;
    background-color: white;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.event-title {
    color: #259E58;
    font-size: 96px;
    font-family: Bangers, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    top: 97px;
    left: 15%;
    /* Thay đổi vị trí theo yêu cầu */
    transform: translateX(-50%);
}

.event-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 3px #259E58 solid;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -500px;
    /* Dịch chuyển slideshow lên theo yêu cầu */
}

.custom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: absolute;
    top: 0;
    transform: translateY(750px);
}

.events-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* Khoảng cách giữa các ô */
    margin-top: 350px;
    /* Di chuyển .events-wrapper xuống 20px */
}

.event-container {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    /* Đặt chiều rộng là 350px */
    height: 400px;
}


/*slides box*/
.mySlides {
    position: absolute;
    top: 50%;
    /* Điều chỉnh vị trí giữa theo chiều dọc */
    transform: translateY(-50%);
    /* Đưa slide lên trên 50% chiều cao của nó */
}

.slide-image {
    width: 100%;
    height: auto;
    /* Ensure aspect ratio is maintained */
    border-radius: 40px;
    /* Rounded corners */
}

.overlay-container {
    width: 100%;
    height: 100%;
    /* White background behind the image */
    border-radius: 40px;
    /* Rounded corners */
    overflow: hidden;
    /* Ensure content doesn't overflow */
    display: flex;
    /* Center content horizontally and vertically */
    justify-content: center;
    align-items: center;
    position: relative;
    /* Positioning context for absolute children */
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* CSS cho slide 1 */
#slide1 {
    z-index: 3;
    /* Slide 1 có z-index cao nhất */
    left: 50%;
    /* Đưa slide 1 vào giữa */
    transform: translateX(-50%) translateY(-50%);
    /* Đưa slide 1 vào giữa cả chiều ngang và dọc */
}

#slide1 {
    z-index: 3;
    /* Slide 1 có z-index cao nhất */
}

#slide2 {
    z-index: 2;
    /* Slide 2 có z-index thấp hơn slide 1 nhưng cao hơn slide 4 và 5 */
    left: 250px;
}

#slide3 {
    z-index: 2;
    /* Slide 3 có z-index như slide 2 */
    right: 250px;
    /* Đưa slide 3 vào bên phải */
}

#slide4 {
    z-index: 1;
    /* Slide 4 có z-index thấp hơn slide 2 và 3 */
    left: 200px;
}

#slide5 {
    z-index: 1;
    /* Slide 5 có z-index nhỏ nhất trong các slide */
    right: 200px;
    /* Đưa slide 5 vào bên phải */
}

#slide2 .slide-image,
#slide3 .slide-image,
#slide4 .slide-image,
#slide5 .slide-image {
    width: 90%;
    /* Giảm chiều rộng xuống 90% so với container */
    height: 90%;
    /* Giảm chiều cao xuống 90% so với container */
    object-fit: contain;
    /* Đảm bảo hình ảnh hiển thị đầy đủ trong không gian của container */
    position: relative;
}

/*Navigation*/

.custom-dot-left, .custom-dot-right {
    margin: 0 10px;
    /* Khoảng cách giữa chấm và biểu tượng mũi tên */
}

.custom-dot {
    width: 10px;
    height: 10px;
    background-color: #259E58;
    /* Màu sắc của các chấm */
    border-radius: 50%;
    /* Làm tròn các góc để tạo hình dáng chấm */
    display: inline-block;
    margin: 0 5px;
    /* Khoảng cách giữa các chấm */
}

.custom-dot-left svg,
.custom-dot-right svg {
    width: 25px;
    /* Kích thước của biểu tượng mũi tên */
    height: 24px;
    fill: #259E58;
    /* Màu sắc của biểu tượng mũi tên */
    margin-top: 5px;
}

/*Phượng Hoàng Bay*/
.unique-container {
    width: 100%;
    padding: 50px 0;
    /* Để giữ khoảng cách với lề trang và top/bottom */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Canh giữa theo chiều dọc */
}

.unique-item {
    display: flex;
    align-items: center;
    margin: 0 80px;
    /* Điều chỉnh khoảng cách giữa các unique-item */
}

.custom-rotated-left, .custom-rotated-right {
    display: flex;
    /* Hiển thị các phần tử con trên cùng 1 dòng */
    align-items: center;
    /* Canh giữa theo chiều dọc */
}

.custom-rotated-left svg, .custom-rotated-right svg {
    width: 20px;
    /* Độ rộng của mũi tên */
    height: 50px;
    /* Chiều cao của mũi tên */
    margin-right: 10px;
    /* Điều chỉnh khoảng cách từ mũi tên đến văn bản */
    margin-left: 10px;
    /* Điều chỉnh khoảng cách từ mũi tên đến văn bản */
}

.custom-text-left, .custom-text-right {
    color: #EC008C;
    font-size: 20px;
    font-family: Nunito;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.custom-text-right {
    margin-left: auto;
    /* Đẩy văn bản bên phải về phía phải cùng */
    text-align: right;
    /* Căn phải cho văn bản bên phải */
}

.custom-text-left {
    margin-right: auto;
    /* Đẩy văn bản bên trái về phía trái cùng */
    text-align: left;
    /* Căn trái cho văn bản bên trái */
}